{% extends "DJMainBundle::layout.html.twig" %}

{% block titlePage %}Gallery{% endblock titlePage %}
{% block bodyAttributes %} id="bigWrapper" data-spy="scroll" data-target=".navbar-default" data-offset="100"{% endblock %}
{% block body %}
    {% block intro %}
         {{ sonata_block_render({ 'type': 'dj.main.block.intro_section' },{
            'title': 'gallery',
            'image_url': '/bundles/djmain/img/gallery/default/default-gallery.jpg',
            }) }}
    {% endblock intro %}
    <section id="portfolio" class="gallery-index-block" >
        <div class="container">
            <div class="row">
                {{ sonata_block_render({ 'type': 'dj.main.block.gallery_section' }) }}
            </div>
        </div>
    </section>
{% endblock body %}