{% extends "DJMainBundle::layout.html.twig" %}

{% set isBlogPage = true %}
{% block titlePage %}Blog{% endblock titlePage %}
{% block header %}
    {% block navigation %}
        {{ parent() }}
    {% endblock navigation %}
{% endblock header %}
{% block body %}
    {% block intro %}
        <section id="blogIntro">
            <div class="container">
                <!--header-->
                <div class="row sectionIntro">
                    <div class="col-md-8 col-md-offsetp-2 text-center">
                        <h2 data-scroll-reveal="enter top move 10px over 1s after 0.2s">
                           {% block introHeader %}<span>Blog</span>{% endblock %}
                        </h2>
                        <p data-scroll-reveal="enter bottom move 10px over 1s after 0.2s">
                            {% block introTeaser %}{% endblock %}
                        </p>
                        {% image '@DJMainBundle/Resources/public/img/separatorBlack.png' output='img/'  %}
                            <img src="{{ asset_url }}" class="img-responsive center-block separator" alt="separator" />
                        {% endimage %}
                    </div>
                </div>
                <!--end header-->
            </div>
        </section>
    {% endblock intro %}
    <section id="blogContent">
        <div class="container">
            <div class="row content">
                <div class="col-md-9">
                    {% block content %}{% endblock content %}
                </div>
                <div class="col-md-3">
                    {% block sidebar %}
                    {% endblock %}
                </div>
            </div>
            <h1 class="parallaxLetter letter3" data-stellar-ratio="1.5" data-stellar-vertical-offset="-600">D</h1>
            <h1 class="parallaxLetter letter4" data-stellar-ratio="0.8" data-stellar-vertical-offset="0">K</h1>
            <!--end content-->
        </div>
    </section>
{% endblock body %}
